/* strip menu */
a.item1 {
    padding-top: 0;
    position: relative;
    width: 100%;
}
a.item1 {
    -webkit-overflow-scrolling: touch;
    text-decoration: none;
}
.multiple-dod1.card-body1::-webkit-scrollbar { width: 0 !important;height:0!important; }
.multiple-dod1 a.dod-block1 {
    overflow: hidden;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    color: #666;
    height: 78px;
    line-height: 78px;
    padding: 0;
    text-transform: uppercase;
    text-align:center;
    text-decoration: none;
    font-size: 18px;
    height: 68px;
    line-height: 68px;
    width: inherit;
    padding: 0 2%;
  }

.detailsnew{
    font-size: 1.4em;
}
/*.multiple-dod1 a.dod-block1:nth-child(1) {width: 16%; !important;}
.multiple-dod1 a.dod-block1:nth-child(2) {width: 18%; !important;}
.multiple-dod1 a.dod-block1:nth-child(3) {width: 32%; !important;}
.multiple-dod1 a.dod-block1:nth-child(4) {width: 27%; !important;}
.multiple-dod1 a.dod-block1:nth-child(5) {width: 26%; !important;}
.multiple-dod1 a.dod-block1:nth-child(6) {width: 17%; !important;}*/


.multiple-dod1 a.dod-block1.active {
    display: inline-block;
    border-bottom:2px solid #eb8100;
    font-weight: 700;
}
.multiple-dod1 a.dod-block1.active {
    color: #eb8100;
}
.multiple-dod1.card-body1 {
    height: 70px;
    max-height: 70px;
    white-space: nowrap;
    overflow: scroll;
    overflow-y: hidden;
    background-color: #f3f3f3;
    height: 80px;
    max-height: 80px;
    z-index: 5000;
}

.vsmallf {
    font-size: 0.65em;
}
/* end strip menu */


body {
    background: #fff;
    font: 14px/21px 'Roboto', sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
#gallery91_wrap{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#gallery91_wrap a{outline:none;}
#gallery91_wrap .onepcssgrid-1000, #gallery91_wrap .onepcssgrid-1200 {
    margin: 0 auto;
    padding: 0 0 0 1%;
}
#gallery91_wrap .wrap{
}
#gallery91_wrap .onepcssgrid-1200 {
    max-width: 1220px;
}

#gallery91_wrap .onepcssgrid-1000 {
    max-width: 1020px;
}

#gallery91_wrap .onerow {
    clear: both;
// padding: 0 10px;
}

#gallery91_wrap .col1, #gallery91_wrap .col2, #gallery91_wrap .col3, #gallery91_wrap .col4, #gallery91_wrap .col5, #gallery91_wrap .col6, #gallery91_wrap .col7, #gallery91_wrap .col8, #gallery91_wrap .col9, #gallery91_wrap .col10, #gallery91_wrap .col11, #gallery91_wrap .col12 {
    float: left;
    margin: 0 3% 0 0;
}

#gallery91_wrap .col1.last, #gallery91_wrap .col2.last, #gallery91_wrap .col3.last, #gallery91_wrap .col4.last, #gallery91_wrap .col5.last, #gallery91_wrap .col6.last, #gallery91_wrap .col7.last, #gallery91_wrap .col8.last, #gallery91_wrap .col9.last, #gallery91_wrap .col10.last, #gallery91_wrap .col11.last, #gallery91_wrap .col12 {
    margin: 0;
}
#gallery91_wrap .col1 { width: 5.5%; }
#gallery91_wrap.col2 { width: 14%; }
#gallery91_wrap .col3 { width: 22.5%; }
#gallery91_wrap .col4 { width: 31%; }
#gallery91_wrap .col5 { width: 39.5%; }
#gallery91_wrap .col6 { width: 48%; }
#gallery91_wrap .col7 { width: 56.5%; }
#gallery91_wrap .col8 { width: 65%; }
#gallery91_wrap .col9 { width: 73.5%; }
#gallery91_wrap .col10 { width: 82%; }
#gallery91_wrap .col11 { width: 90.5%; }
#gallery91_wrap .col12 { width: 99%; margin: 0; }

#gallery91_wrap .col1 img, #gallery91_wrap .col2 img, #gallery91_wrap .col3 img, #gallery91_wrap .col4 img, #gallery91_wrap .col5 img, #gallery91_wrap .col6 img, #gallery91_wrap .col7 img, #gallery91_wrap .col8 img, #gallery91_wrap .col9 img, #gallery91_wrap .col10 img, #gallery91_wrap .col11 img, .col12 img {
// width: 100%;
    height: auto;
    display: block;
}

@media all and (min-width: 1024px) {
    #gallery91_wrap .onepcssgrid-1000 {
        max-width: 1000px;
    }

    #gallery91_wrap .onepcssgrid-1000 .onerow {
        padding: 0;
    }
}

@media all and (max-width: 768px) {
    #gallery91_wrap #overlayMainGallery.active{
        position: absolute;
        top: -2px !important;
        left: -3px !important;
        width: 98% !important;
        height: 100%;
        overflow-x: hidden;
    }
    #gallery91_wrap .onerow {
    }

    #gallery91_wrap .col1, #gallery91_wrap .col2, #gallery91_wrap .col3, #gallery91_wrap .col4, #gallery91_wrap .col5, #gallery91_wrap .col6, #gallery91_wrap .col7, #gallery91_wrap .col8, #gallery91_wrap .col9, #gallery91_wrap .col10, #gallery91_wrap .col11 {
        float: none;
        width: 99%;
        padding: 0px;
    }
}
#gallery91_wrap #rightSideBar{  /* deepak - please replace this id completely with attribute*/
    background-color:#2d2d2d;
    padding: 0;
    opacity:0.8;
    position: relative;
    overflow: hidden;
    text-align:center;
    align-content: center;
    height:100%;
}
#rightSideBar .miscblock{ /*added by deepak */
    width:300px;
    background:#fff;
    margin:25px auto;
    min-height:250px;
}

#rightSideBar .adblock{ /*added by deepak */
    width:300px;
    margin:0 auto;
    min-height:250px;
}
#gallery91_wrap .tab.col{
    margin: 0 !important;
}
#gallery91_wrap .topRow{
    width: 100%;
    padding: 0px;
}

#gallery91_wrap #mainOverlay{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    visibility: visible;
    zoom: 1;
    opacity: 0.6;
    min-width: 3px;
    background-color: rgb(0, 0, 0);
}

#gallery91_wrap #overlayMainGallery.active{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-shadow: 0px 1px 5px 0px #FF6F21;
}
#gallery91_wrap #closeOverlay:hover{
    color: #999;
}
#gallery91_wrap #closeOverlay{
    border: 1px solid #999;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 15px;
    font-size: 15px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 20px;
    height: 20px;
    color: #999;
    float: right;

}
#gallery91_wrap #imageTitle{
     position: absolute;
     cursor: pointer;
     top: 15px;
     left: 30px;
     font-size: 15px;
     background-repeat: no-repeat;
     background-size: 100%;
     height: 20px;
     color: #333;
     float: left;
    text-transform: capitalize;
 }
#gallery91_wrap .tab{
    /*border-radius: 6px;*/
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
    /*background: #fff;*/
    /*overflow: hidden;*/
    /*margin-bottom: 14px;*/
}
#gallery91_wrap #overlayMainGallery{
    position: relative;
    bottom: -1000px;
}
#gallery91_wrap #image_view{
    text-align: center;
    align-content: center;
    background-color: #ffffff;
    max-height: 780px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
#gallery91_wrap #img_view_wrap_inner{
    height: 100%;
    width: 100%;
    position: relative;
}
#gallery91_wrap #image_view img.main{
    display: inline !important;
    /*height: 85%;
    max-height: 500px;
    width: auto;
    max-width: 100%;*/
    position: absolute;
    margin: auto auto;
   /* top: 0;*/
    left: 0;
    right: 0;
   /* bottom: 0;*/
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
#gallery91_wrap #image_view img.main.loader{
    width: 30px !important;
    height: 30px !important;
}
#gallery91_wrap #image_view.thumb img.main{
    height: 80% !important;
}
#gallery91_wrap #image_view .next.disabled, #image_view .prev.disabled,#image_view.hiddenControls .next, #image_view.hiddenControls .prev{
    color: #fff;
    opacity: 0 !important;
    display: none;
}
#gallery91_wrap #image_view .next:hover, #image_view .prev:hover,#image_view .next.hover, #image_view .prev.hover{
    color: #898181 !important;
    opacity: 1 !important;
}
#gallery91_wrap #image_view .prev{/* made changes here*/
    left: 0;
}
#gallery91_wrap #image_view .next{/* made changes here*/
    left: auto;
    right: 0;
}
#gallery91_wrap #image_view .next, #image_view .prev{/* made changes here*/
    position: absolute;
    top: 35%;
    width: 40px;
    z-index: 3;
    right: 0px;
    height: 54px;
    margin-top: -27px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 0;
    line-height: 43px;
    color: #898181;
    text-decoration: none;
    text-align: center;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /* border: 3px solid #fff; */
    opacity:0.6;
    cursor: pointer;

}
#gallery91_wrap .thumbnail_row{
    width: 100%;
    overflow: hidden;
}
#gallery91_wrap .img_wrap_link.blank_thumb{
    width: 20px;
}
#gallery91_wrap .img_wrap{
    float: left;
    background-color: #ffffff;
    max-width: 100%;
    color: #fff;
    /* border: 1px solid rgba(206, 206, 206, 0.78); */
    margin: 3px;
    /* border-radius: 1px; */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.39);
}
#gallery91_wrap .img_wrap.active, .img_wrap:hover{/* made changes here*/
    border: 1px solid #FF6F21;
    border-radius: 2px;
}
#gallery91_wrap .img_wrap img.main{
    width: 100%;
    height: auto;
}
@media (max-width: 599px) and (min-width: 481px){
    .multiple-dod1 a.dod-block1 {
        font-size: 15px;
        height: 53px;
        line-height: 53px;
    }
    .multiple-dod1.card-body1 {
        height: 55px;
        max-height: 55px;
    }
}
@media only screen and (min-width : 420px) and (max-width : 480px) {
    .multiple-dod1.card-body1 {
        height: 50px;
        max-height: 50px;
    }

    .multiple-dod1 a.dod-block1 {
        font-size: 14px;
        height: 48px;
        line-height: 48px;
    }

    .detailsnew {
        line-height: 1.1em;
    }
    .multiple-dod1 a.dod-block1 {
        font-size: 14px;
        height: 48px;
        line-height: 48px;
    }
    .multiple-dod1.card-body1 {
        height: 50px;
        max-height: 50px;
    }
}
@media only screen and (max-width: 419px) and (min-width: 321px)
{
.detailsnew{
    font-size: 1em;
    line-height: 1.1em;
    font-weight: 600;
    }
    .multiple-dod1 a.dod-block1 {
        font-size: 12px;
        height: 42px;
        line-height: 42px;
    }
    .multiple-dod1.card-body1 {
        height: 44px;
        max-height: 44px;
    }

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media screen and (min-width : 321px) {
    .multiple-dod1 a.dod-block1 {
        font-size: 12px;
        height: 42px;
        line-height: 42px;
    }
    .multiple-dod1.card-body1 {
        height: 44px;
        max-height: 44px;
    }
}

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 320px) {
    .multiple-dod1.card-body1 {
        height: 44px;
        max-height: 44px;
    }
    .multiple-dod1 a.dod-block1 {
        font-size: 12px;
        height: 42px;
        line-height: 42px;
    }
    .multiple-dod1 a.dod-block1 {
        font-size: 12px;
        height: 42px;
        line-height: 42px;
    }
    .multiple-dod1.card-body1 {
        height: 44px;
        max-height: 44px;
    }
}
@media (max-width: 767px) and (min-width: 600px){
    .multiple-dod1 a.dod-block1 {
        font-size: 18px;
        height: 68px;
        line-height: 68px;
    }
    .multiple-dod1.card-body1 {
        height: 70px;
        max-height: 70px;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}
#gallery91_wrap .img_wrap{/* made changes here*/
    float: left;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: auto;
    display: inline-block;
    zoom: 1!ie;
    display: inline!ie;
    margin:10px 3px;
    border: 1px solid #CFCBCB;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-position: center center;
}
#gallery91_wrap .img_view_tools.thumb{/* made changes here*/
    position: absolute;
    bottom: 70px;

}
#gallery91_wrap #image_view.hiddenControls .img_view_tools :not(#thumb_tool):not(.pin){
    display: none;
}
#gallery91_wrap .img_view_tools{
    width: 100%;
    position: absolute;
    display: block;
    bottom: 15px;
}
@media only screen and (max-width: 480px){
    #gallery91_wrap .captionback{/* added by deepak*/

        top:-100px !important;
    }
}
#gallery91_wrap .img_view_tools .caption{
    position: absolute;
    top: -15px;
    font-size: .9165em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-image: url('../images/camera.png');
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: 3px 2px;
    max-width: 85%;
    color: #ccc;
    background-color: rgba(44, 44, 44, 0.61);
    border-radius: 5px;
}
#gallery91_wrap #thumb_tool.hide label.pin:before{
    content: url('../images/dbldownarrow.png');
}
#gallery91_wrap #thumb_tool.show label.pin:before{
    content: url('../images/dbluparrow.png');
}
#gallery91_wrap #thumb_tool label.pin{
    margin-left: 5px;
    font-size: .9165em;
}
#gallery91_wrap #thumb_tool.show{
    top: -19px;
}
#gallery91_wrap #thumb_tool{/* made changes here*/
    /* display: inline-block; */
    float: right;
    position: absolute;
    line-height: 32px;
    font-size: .9165em;
    z-index: 5;
    top: -30px;
    right: 25px;
    cursor: pointer;
    margin-right: 14px;
    padding: 0 13px;
    background-color: #333;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    color: white;
}
#gallery91_wrap .captionback{/* added by deepak*/
    position: absolute;
    top:-65px;
    padding:5px 0 10px 0;
    /*background:url(../images/caption_back.png) repeat;*/
    width:100%;
    background: none;
}
#gallery91_wrap .img_view_tools .gencomment, .img_view_tools .photocaption{
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    max-width: 85%;
    /* height: 23px; */
    line-height: 23px;
    margin-left: 10px;
    margin-bottom: 5px;
    background-color: rgba(32, 32, 32, 0.5) !important;
    float: left;
    padding-left: 25px;
    color: #B9B9B9;
    font-family: Georgia, Constantia, "Lucida Bright", "DejaVu Serif", serif;
    font-style: italic;
    padding-left: 35px;
    padding-right: 20px;
    border-radius: 3px;
    -webkit-touch-callout: inherit;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}
#gallery91_wrap .img_view_tools .photocaption{/* added by deepak*/
    font-size: 12px;
    background:url(../images/gallery_sprite.png) no-repeat 7px -20px;
}
#gallery91_wrap .img_view_tools .gencomment{
    font-size: 13px;
    background: url(../images/gallery_sprite.png) no-repeat 7px 3px;
}
#gallery91_wrap #img_view_wrap_inner.thumb img.main{
    max-height:65%;
    top: 5%;
}
#gallery91_wrap .thumb_nav{/* made changes here*/
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 70px;
    background-color: #CFCBCB;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
#gallery91_wrap .thumb_img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    margin-top: auto;
    top: 0;
    margin-bottom: auto;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}
#gallery91_wrap .thumb_nav.disabled{/* made changes here*/
    position: absolute;
    bottom: -70px;
    opacity: 0.2;
}
#gallery91_wrap .thumb_move_left.disabled,#gallery91_wrap .thumb_move_right.disabled,#gallery91_wrap .thumb_move_left.deactive,#gallery91_wrap .thumb_move_right.deactive{
    opacity: 0.2;
    cursor: default;
}
#gallery91_wrap .thumb_move_left{
    position: absolute;
    background-color: #CFCBCB;
    top: 0;
    left: 0px;
    z-index: 5;
    cursor: pointer;
    height: 100%;
    width: 30px;
    /*background-image: url('../images/ff_left_active.png');*/
    background-repeat: no-repeat;
    background-position: center center;
}
#gallery91_wrap .thumb_move_right{
    position: absolute;
    background-color: #CFCBCB;
    top: 0;
    cursor: pointer;
    right: 0px;
    z-index: 5;
    height: 100%;
    width: 30px;
    /*background-image: url('../images/ff_right_active.png');*/
    background-repeat: no-repeat;
    background-position: center center;
}
#gallery91_wrap .img_wrap_link{
    position: relative;
    display: inline-block;
    margin: 1px;
    margin-top: 3px;
}
#gallery91_wrap .fblike{
    background: none !important;
    text-align:right;position:absolute;margin-top:-28px;right:170px; background-color: rgba(32, 32, 32, 0.5) !important; padding: 3px;
    border-radius: 3px;
}
#gallery91_wrap .fblike img{
    border:none;text-align:right;
}
#gallery91_wrap .photocaption.display_none
{
    visibility: hidden !important;
}
#gallery91_wrap .gencomment.display_none{
    display: none !important;
}
[class*='col-'] {

}
.grid{
    margin: auto;
    width: 90%;
    margin-top: 10%;
    overflow: auto;
    max-height: 75%;
}
.col-1-4-album {
    width:20%;
    height:auto;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;display: inline-block;

}
.col-1-4-album span{
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 5%;
}
.col-1-4-album .sub_img_album{
    max-width: 90%;
    max-height: 80%;
    margin: auto;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute;
}
.col-1-4-album .inner_img{
    border: solid 1px #ccc;
    padding: 10px;
    height: 150px;
    position: relative;
    margin-top: 5%;
    border-radius: 5px;
}

.col-1-4-album .inner_img:hover,.col-1-4-album .selected_category{
    border: solid 1px #f08a24;
    box-shadow: 0 0 3px #f08a24;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[class*='col-']{
}
[class*='col-']:last-of-type {
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .col-1-4-album {
        width:50%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .col-1-4-album {
        width:40%;
    }
}

@media only screen and (max-width : 320px) {
    .col-1-4-album {
        width:40%;
    }
}


@media only screen  and (min-width :580px) {
    .col-1-4-album {
        width:20%;
    }
}

@media only screen  and (min-width :1024px) {
    .col-1-4-album {
        width:20%;
    }
}

.bigproductname{
    background: #fff;
    text-align: left;
    padding: 13px;
}
.Magic360-box.desktop .Magic360-button.fullscreen {
    background-position: -105px 0 !important;
    background-size: 132px !important;
}
.photocaption{position: Absolute;
    left: 0;
    right: 0;
    bottom: 102px;
    font-size: 14px;}