[class*='col-'] {

}
.grid{
    margin: auto;
    width: 90%;
    margin-top: 10%;
}
.col-1-4-album {
    width:20%;
    height:auto;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;display: inline-block;

}
.col-1-4-album .sub_img_album{
    max-width: 90%;
    margin: auto;
    top:0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.col-1-4-album .inner_img{
    border: solid 1px #ccc;
    padding: 10px;
}

.col-1-4-album .inner_img:hover,.col-1-4-album .selected_category{
    border: solid 1px #f08a24;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
[class*='col-']{
}
[class*='col-']:last-of-type {
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .col-1-4-album {
        width:50%;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    .col-1-4-album {
        width:40%;
    }
}

@media only screen and (max-width : 320px) {
    .col-1-4-album {
        width:40%;
    }
}


@media only screen  and (min-width :580px) {
    .col-1-4-album {
        width:20%;
    }
}

@media only screen  and (min-width :1024px) {
    .col-1-4-album {
        width:20%;
    }
}