#gallery91_wrap a{outline:none;}
#gallery91_wrap .onepcssgrid-1000, #gallery91_wrap .onepcssgrid-1200 {
	margin: 0 auto;
	padding: 0 0 0 1%;
}
#gallery91_wrap .wrap{
	transition: opacity 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
}
#gallery91_wrap .onepcssgrid-1200 {
	max-width: 1220px;
}

#gallery91_wrap .onepcssgrid-1000 {
	max-width: 1020px;
}

#gallery91_wrap .onerow {
	clear: both;
	// padding: 0 10px;
}

#gallery91_wrap .col1, #gallery91_wrap .col2, #gallery91_wrap .col3, #gallery91_wrap .col4, #gallery91_wrap .col5, #gallery91_wrap .col6, #gallery91_wrap .col7, #gallery91_wrap .col8, #gallery91_wrap .col9, #gallery91_wrap .col10, #gallery91_wrap .col11, #gallery91_wrap .col12 {
	float: left;
	margin: 0 3% 0 0;
}

#gallery91_wrap .col1.last, #gallery91_wrap .col2.last, #gallery91_wrap .col3.last, #gallery91_wrap .col4.last, #gallery91_wrap .col5.last, #gallery91_wrap .col6.last, #gallery91_wrap .col7.last, #gallery91_wrap .col8.last, #gallery91_wrap .col9.last, #gallery91_wrap .col10.last, #gallery91_wrap .col11.last, #gallery91_wrap .col12 {
	margin: 0;
}

#gallery91_wrap .col1 { width: 5.5%; }
#gallery91_wrap.col2 { width: 14%; }
#gallery91_wrap .col3 { width: 22.5%; }
#gallery91_wrap .col4 { width: 31%; }
#gallery91_wrap .col5 { width: 39.5%; }
#gallery91_wrap .col6 { width: 48%; }
#gallery91_wrap .col7 { width: 56.5%; }
#gallery91_wrap .col8 { width: 65%; }
#gallery91_wrap .col9 { width: 73.5%; }
#gallery91_wrap .col10 { width: 82%; }
#gallery91_wrap .col11 { width: 90.5%; }
#gallery91_wrap .col12 { width: 99%; margin: 0; }

#gallery91_wrap .col1 img, #gallery91_wrap .col2 img, #gallery91_wrap .col3 img, #gallery91_wrap .col4 img, #gallery91_wrap .col5 img, #gallery91_wrap .col6 img, #gallery91_wrap .col7 img, #gallery91_wrap .col8 img, #gallery91_wrap .col9 img, #gallery91_wrap .col10 img, #gallery91_wrap .col11 img, .col12 img {
	// width: 100%;
	height: auto;
	display: block;
}

@media all and (min-width: 1024px) {
	#gallery91_wrap .onepcssgrid-1000 {
		max-width: 1000px;
	}

	#gallery91_wrap .onepcssgrid-1000 .onerow {
		padding: 0;
	}
}

@media all and (max-width: 768px) {
	#overlayMainGallery.active{
		position: absolute;
		top: -2px !important;
		left: -3px !important;
		width: 98% !important;
		height: 100%;
		overflow-x: hidden;
	}	
	#gallery91_wrap .onerow {
	}

	#gallery91_wrap .col1, #gallery91_wrap .col2, #gallery91_wrap .col3, #gallery91_wrap .col4, #gallery91_wrap .col5, #gallery91_wrap .col6, #gallery91_wrap .col7, #gallery91_wrap .col8, #gallery91_wrap .col9, #gallery91_wrap .col10, #gallery91_wrap .col11 {
		float: none;
		width: 99%;
		padding: 0px;
	}
}
#rightSideBar{  /* deepak - please replace this id completely with attribute*/
	background-color:#2d2d2d;
	padding: 0;
	opacity:0.8;
	position: relative;
	overflow: hidden;
	text-align:center;
	align-content: center;
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	height:100%;
}

#rightSideBar .miscblock{ /*added by deepak */
	width:300px;
	background:#fff;
	margin:25px auto;
	min-height:250px;
}

#rightSideBar .adblock{ /*added by deepak */
	width:300px;
	margin:0 auto;
	min-height:250px;
}
.tab.col{
	margin: 0 !important;
}
.topRow{
	width: 100%;
	padding: 0px;
}
#mainOverlay{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	visibility: visible;
	zoom: 1;
	opacity: 0.6;
	min-width: 3px;
	background-color: rgb(0, 0, 0);
}

#overlayMainGallery.active{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	box-shadow: 0px 1px 5px 0px #FF6F21;
}
#closeOverlay{
	position: absolute;
	font-size: 92.5%;
	cursor: pointer;
	background-image: url('../images/close_overlay_large.png');
	top: 3px;
	right: 55px;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.tab{
	/*border-radius: 6px;*/
	/*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
	/*background: #fff;*/
	/*overflow: hidden;*/
	/*margin-bottom: 14px;*/
}
#overlayMainGallery{
	position: relative;
	bottom: -1000px;
}
#image_view{
	text-align: center;
	align-content: center;
	padding: 5px;
	position: relative;
	background-color: #2C2C2C;
	position: relative;
	overflow: hidden;
	transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	max-height: 780px;
	height: 100%;
	/*width: 100%;*/
}
#img_view_wrap_inner{
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	height: 100%;
	width: 100%;
}
#image_view img.main{
	display: inline !important;
	/*height: 85%;
	max-height: 500px;
	width: auto;
	max-width: 100%;*/
	transition: all 300ms ease-out;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	position: absolute;
	margin: auto auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
#image_view img.main.loader{
	width: 30px !important;
	height: 30px !important;
	transition: all 0ms ease-out;
	-webkit-transition: all 0ms ease-out;
	-moz-transition: all 0ms ease-out;
}
#image_view.thumb img.main{
	height: 80% !important;
}
#image_view .next.disabled, #image_view .prev.disabled,#image_view.hidden .next, #image_view.hidden .prev{
	color: #fff;
	opacity: 0 !important;
}
#image_view .next:hover, #image_view .prev:hover,#image_view .next.hover, #image_view .prev.hover{
	color: #fff;
	opacity: 1;
}
#image_view .prev{/* made changes here*/
	left: 0;
}
#image_view .next{/* made changes here*/
	left: auto;
	right: 0;
}
#image_view .next, #image_view .prev{/* made changes here*/
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 3;
	height: 54px;
	margin-top: -27px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: 0;
	line-height: 43px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	/* border: 3px solid #fff; */
	background-color: #0f0f0f;
	opacity:0.6;
	cursor: pointer;
	transition: opacity 100ms ease-out;
	-webkit-transition: opacity 100ms ease-out;
	-moz-transition: opacity 100ms ease-out;
	
}
.thumbnail_row{
	width: 100%;
	overflow: hidden;
}
.img_wrap_link.blank_thumb{
	width: 50px;
}
.img_wrap{
	float: left;
	max-width: 100%;
	color: #fff;
	/* border: 1px solid rgba(206, 206, 206, 0.78); */
	margin: 3px;
	/* border-radius: 1px; */
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.39);
}
.img_wrap.active, .img_wrap:hover{/* made changes here*/
	border: 2px solid #FF6F21;
	margin:9px 2px;
	border-radius: 2px;
}
.img_wrap img.main{
	width: 100%;
	height: auto;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	/* Styles */
}
.img_wrap{/* made changes here*/
	float: left;
	width: 48px;
	height: 48px;
	position: relative;
	overflow: auto;
	display: inline-block;
	zoom: 1!ie;
	display: inline!ie;
	margin:10px 3px;
	border: 1px solid #636363;
	background-repeat: no-repeat;
	background-size: cover;
	-ms-background-position-x: center;
	-ms-background-position-y: center;
	background-position: center center;
}
.img_view_tools.thumb{/* made changes here*/
	position: absolute;
	bottom: 70px;

}
#image_view.hidden .img_view_tools :not(#thumb_tool):not(.pin){
	display: none;
}
.img_view_tools{
	width: 100%;
	position: absolute;
	display: block;
	bottom: 15px;
	transition: bottom 300ms ease-out;
	-webkit-transition: bottom 300ms ease-out;
	-moz-transition: bottom 300ms ease-out;
}
@media only screen and (max-width: 480px){
	.captionback{/* added by deepak*/

		top:-100px !important;
	}
}
.img_view_tools .caption{
	position: absolute;
	top: -15px;
	font-size: .9165em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-image: url('../images/camera.png');
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: 3px 2px;
	max-width: 85%;
	color: #ccc;
	background-color: rgba(44, 44, 44, 0.61);
	border-radius: 5px;
}
#thumb_tool.hide label.pin:before{
	content: url('../images/dbldownarrow.png');
}
#thumb_tool.show label.pin:before{
	content: url('../images/dbluparrow.png');
}
#thumb_tool label.pin{
	margin-left: 5px;
	font-size: .9165em;
}
#thumb_tool.show{
	top: -19px;
}
#thumb_tool{/* made changes here*/
	/* display: inline-block; */
	float: right;
	position: absolute;
	line-height: 32px;
	font-size: .9165em;
	z-index: 5;
	top: -33px;
	right: 25px;
	cursor: pointer;
	margin-right: 14px;
	padding: 0 13px;
	background-color: #333;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	color: white;
	transition: bottom 300ms ease-out;
	-webkit-transition: bottom 300ms ease-out;
	-moz-transition: bottom 300ms ease-out;

}
.captionback{/* added by deepak*/
	position: absolute;
	top:-65px;
	padding:5px 0 10px 0;
	/*background:url(../images/caption_back.png) repeat;*/
	width:100%;
	background: none;
}
.img_view_tools .gencomment, .img_view_tools .photocaption{
	clear: both;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	max-width: 85%;
	/* height: 23px; */
	line-height: 23px;
	margin-left: 10px;
	margin-bottom: 5px;
	background-color: rgba(43, 43, 43, 0.78) !important;
	float: left;
	padding-left: 25px;
	color: #B9B9B9;
	font-family: Georgia, Constantia, "Lucida Bright", "DejaVu Serif", serif;
	font-style: italic;
	padding-left: 35px;
	padding-right: 20px;
	border-radius: 3px;
}
.img_view_tools .photocaption{/* added by deepak*/
	font-size: 12px;
	background:url(../images/gallery_sprite.png) no-repeat 7px -20px;
}
.img_view_tools .gencomment{
	font-size: 13px;
	background: url(../images/gallery_sprite.png) no-repeat 7px 3px;
}
#img_view_wrap_inner.thumb img.main{
	max-height: 75%;
	top: -55px;
}
.thumb_nav{/* made changes here*/
	position: absolute;
	bottom: 0;
	height: 70px;
	background-color: #333;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-align: center;
	transition: bottom 300ms ease-out;
	-webkit-transition: bottom 300ms ease-out;
	-moz-transition: bottom 300ms ease-out;
	overflow: hidden;

}
.thumb_nav.disabled{/* made changes here*/
	position: absolute;
	bottom: -70px;
	transition: bottom 300ms ease-out;
	-webkit-transition: bottom 300ms ease-out;
	-moz-transition: bottom 300ms ease-out;
}
.thumb_move_left.disabled, .thumb_move_right.disabled{
	opacity: 0.3;
}
.thumb_move_left{
	position: absolute;
	background-color: #333;
	top: 0;
	left: 0px;
	z-index: 5;
	cursor: pointer;
	height: 100%;
	width: 38px;
	background-image: url('../images/ff_left_active.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.thumb_move_right{
	position: absolute;
	background-color: #333;
	top: 0;
	cursor: pointer;
	right: 0px;
	z-index: 5;
	height: 100%;
	width: 38px;
	background-image: url('../images/ff_right_active.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.img_wrap_link{
	position: relative;
	display: inline-block;
	margin: 1px;
	margin-top: 3px;
}
.fblike{
	text-align:right;position:absolute;margin-top:-28px;right:170px; background-color: rgba(44, 44, 44, 0.41) !important; padding: 3px;
	border-radius: 3px;
}
.fblike img{
	border:none;text-align:right;
}
.photocaption.display_none
{
	visibility: hidden !important;
}
.gencomment.display_none{
	display: none !important;
}
